#rndBtn,#sortBtn,#customArrayBtn{
    -fx-background-color: #c610d7;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill:white;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    
}